# Vagrant on macOS

# Mac DS_Store Files
.DS_Store
.localized

# Vagrant
/.vagrant
/vagrant

# web folder
/html

# SSL
/provision/ssl

# Swift
/Swift

# Exclude folders completely
/provision/notes/
/test*

# Exclude folders ending with '_'
**_/

# Exclude the Vagrantfile
/Vagrantfile

# z_gitignore folder
/z_gitignore
