# Vagrant on macOS

# Mac DS_Store Files
.DS_Store
.localized

# Vagrant
.vagrant/*
!.vagrant/.p2vagrant
vagrant/*
!vagrant/.p2vagrant

# folders to preserve empty
html/*
!html/.p2vagrant
provision/notes/*
!provision/notes/.p2vagrant
provision/ssl/*
!provision/ssl/.p2vagrant
provision/vhosts/*
!provision/vhosts/.p2vagrant
vm_logs/*
!vm_logs/.p2vagrant

# Exclude folders ending with '_'
**_/

# Exclude the Vagrantfile
Vagrantfile/*
!Vagrantfile/.p2vagrant

# z_gitignore folder
z_gitignore
