# Vagrant on macOS

# Mac DS_Store Files
.DS_Store

# Vagrant
/.vagrant
/vagrant

# web folder
/html

# SSL
/provision/ssl

# Swift
/Swift

# logs
/provision/logs

# Preserve empty folders
!/html/.p2m_keep_folder
!/provision/logs/.p2m_keep_folder
!/provision/ssl/.p2m_keep_folder

# Exclude folders completely
/provision/notes/

# Exclude folders ending with '_'
**_/

# Exclude the Vagrantfile
/Vagrantfile

# z_gitignore folder
/z_gitignore
